$theme_color: #7d3e87;
*,
::after,
::before {
    box-sizing: border-box;
}
.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
@media (min-width: 576px)
{
    .col-sm-6
    {
        flex:0 0 auto;
        width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}
@media (min-width: 992px)
{
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

// css for heading starts here
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
// css for lable starts here
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
input {
    margin: 4px;
    padding: 4px;
    width: 15px;
    height: 15px;
}
.card {
    position: relative;
    height: 100%;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-body {
    flex: 1 1 auto;
    position: relative;
    padding: 1rem 1rem;
}

@media only screen and (min-width: 1200px) {
    @mixin img-fluid {
        width: 100%;
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .img-height-card {
        @include img-fluid();
        height: 200px;
    }
    .image-height-details {
        @include img-fluid();
        height: 360px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .lg-screen-centering
    {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 1200px) {
    @mixin img-fluid {
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .img-height-card {
        @include img-fluid();
        height: 200px;
    }
    .image-height-details {
        @include img-fluid();
        height: 300px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .lg-screen-centering
    {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 992px) {
    @mixin img-fluid {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .img-height-card {
        @include img-fluid();
        height: 200px;
    }
    .image-height-details {
        @include img-fluid();
        height:300px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 576px) {
    @mixin img-fluid {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .img-height-card {
        @include img-fluid();
        height: 320px;
    }
    .image-height-details {
        @include img-fluid();
        height: 280px;
        padding-left: 60px;
        padding-right: 60px;
        
    }
}
@media only screen and (max-width: 370px)
{
    @mixin img-fluid {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .img-height-card {
        @include img-fluid();
        height: 300px;
    }
    .image-height-details {
        @include img-fluid();
        height: 200px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
.container
{
    max-width: 1250px;
    margin: auto;
}

.btn {
    background-color: $theme_color;
    color: white;
    background-position: right;
    border: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn:active {
    background-position: center;
}
.bold {
    font-weight: bold;
}
.title {
    font-size: 17px;
}
.sub-title {
    font-size: 16px;
}
.star_icons {
    color: $theme_color;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.parent {
    position: relative !important;
}
.font-sm {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
.text-grey {
    color: grey;
}
::-webkit-scrollbar {
    height: 8px;
    width: 6px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $theme_color;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: $theme_color;
}
.wrap-text-1 {
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}
.text-center
{
    color:$theme_color;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: $theme_color;
}
.text-centered
{
    text-align: center;
}

.animated_link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    text-decoration: none;
    color: $theme_color;
    border: 2px solid rgba(17, 16, 16, 0.4);
    text-align: center;
    position: relative;
    transition: all 0.35s;
}

.animated_span {
    position: relative;
    z-index: 2;
    border:none
}

.animated_link:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7d3e87;
    transition: all 0.35s;
    border:none
   
}

.animated_link:hover {
    color: #fff;
    border:2px solid $theme_color
}

.animated_link:hover:after {
    width: 100%;
}
.uparrow_icon
{   
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 8px;
    background-color:grey;
    color: white;
    border-radius: 100%;
    font-size: 25px;
}
.uparrow_icon:hover
{   
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 8px;
    background-color: $theme_color;
    color: white;
    border-radius: 100%;
    font-size: 25px;
}
.pointer-cursor
{
    cursor: pointer;
}
.card_shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

