.rangeslider-horizontal .rangeslider__fill {
    background-color:rgb(131, 131, 235);
}
.rangeslider-horizontal {
    height: 8px;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 0px;
    height: 0px;
}
.rangeslider-horizontal .rangeslider__handle:after {
    top: -8px;
    left: 0px;
}
.height-100
{
    height: 100vh;
}
.border
{
    border-right: 1px solid rgba(0,0,0,0.3);
}
.bg-light-grey
{
    background-color: rgb(250, 249, 250);
}
.card_shadow
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.full-vh
{
    height: 100vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    
}
.full-vh::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 768px) {
.full-vh
{
    height: 100vh;
    position: static;
    top: 0px;
    overflow-y: auto;
}
}